@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}
.centered{
    background-color: white;
    display: inline-block;
    width: 300px;
    height: 400px;
    margin-top: 100px;
    border-radius: 25px;
}
.icon.top{
    font-size: 70px;
    display: flex;
    justify-content: left;
    margin-left: 20px;
}
.number{
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.icon.bottom{
    font-size: 70px;
    display: flex;
    justify-content: left;
    margin-right: 20px;
    margin-top: 50px;
    transform: rotate(180deg);
}
button#randomcardBtn.btn.btn-dark{
    display: flex;
    justify-self: center;
    margin-top: 20px;
}